.homepage{
    margin: 0 0 0 7%;
    display: flex;
    align-items: center;
}
.homepage-slog{
    position: relative;
    margin-right: 1rem;
}
.home-img-div{
    width: 100vw;
    z-index: -1;
}
.homepage-img{
    width: 100%;
    height: auto;
}
.homepage-slog>div{
    font-size: 1.5rem;
}
.home-slog-divlast{
    top: 4rem;
}
@media only screen and (max-width: 600px) {
    .homepage-slog>div{
        font-size: 1rem;
    }
    .home-slog-divlast{
        top: 2.3rem;
    }
    
  }