.homepage{
    margin: 0 0 0 7%;
    display: flex;
    align-items: center;
}
.homepage-slog{
    position: relative;
    margin-right: 1rem;
}
.home-img-div{
    width: 100vw;
}
.homepage-img{
    width: 100%;
    height: auto;
}